<ion-content>
  <div class="container">

    <ion-header class="ion-no-border">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button fill="clear" [routerLink]="['/']">
              <ion-label class="ion-text-wrap">Wookie<br>Movies</ion-label>
            </ion-button>
          </ion-col>
          <ion-col offset="5" size="4">
            <ion-searchbar mode="ios" placeholder=""></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-header>

    <div id="page-content">
      <ion-item *ngFor="let movieByGenre of movies; let i = index">
        <ion-label>
          <h2>{{ movieByGenre[0].genre }}</h2>
        </ion-label>

        <swiper-container slides-per-view="5">

          <swiper-slide *ngFor="let movie of movieByGenre;">

            <ion-card>
              <img alt="{{ movie.title }}" src="{{ movie.backdrop }}" />

              <ion-button fill="clear" expand="full" [routerLink]="['/details', movie.slug]" >
                Voir plus
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
              </ion-button>
            </ion-card>

          </swiper-slide>

        </swiper-container>
    </ion-item>
    </div>

  </div>
</ion-content>
